.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 4rem;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  cursor: pointer;
  transition:
    background-color 0.25s linear,
    border-color 0.25s linear;

  &.btn_white {
    background-color: var(--light-gray);
    border: 1px solid var(--mid-gray);
    color: var(--black);
    &:hover {
      @media (hover: hover) {
        background-color: var(--light);
        border-color: var(--mid-gray);
      }
    }
  }

  &.btn_primary {
    background-color: var(--primary);
    color: var(--light);
    &:hover {
      @media (hover: hover) {
        background-color: #397dff;
      }
    }
  }
}
