<section class="answers offset-section">
  <div class="container">
    <div class="answers__content">
      <ul class="list-reset answers__list">
        <li class="answers__item answer">
          <h6 class="answer__title">Опрошенных пользовались микрокредитами</h6>
          <p class="answer__description">Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам
            помогает отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты
            свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах
            и штрафах</p>
        </li>
        <li class="answers__item answer">
          <h6 class="answer__title">Опрошенных пользовались микрокредитами</h6>
          <p class="answer__description">Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам
            помогает отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты
            свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах
            и штрафахНе могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от
            кредитов и экономить деньги на процентах и штрафах</p>
        </li>
        <li class="answers__item answer">
          <h6 class="answer__title">Опрошенных пользовались микрокредитами</h6>
          <p class="answer__description">Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам
            помогает отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты
            свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах
            и штрафахНе могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от
            кредитов и экономить деньги на процентах и штрафах</p>
        </li>
        <li class="answers__item answer">
          <h6 class="answer__title">Опрошенных пользовались микрокредитами</h6>
          <p class="answer__description">Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам
            помогает отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты
            свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах
            и штрафах</p>
        </li>
      </ul>
    </div>
  </div>
</section>