<section class="how-it-works offset-section" id="how-it-works">
  <div class="container">
    <div class="how-it-works__content">
      <h2 class="section__title how-it-works__title">Как это работает</h2>
      <ul class="list-reset how-it-works__list">
        <li class="how-it-works__item item">
          <div class="item__icon">
            <img src="img/how-it-works/waiting.svg" alt="Прочитай задание внимательно" width="72" height="72">
          </div>
          <div class="item__info">
            <h6 class="item__title">Прочитай задание внимательно</h6>
            <p class="item__description">Думаю у тебя не займет это больше двух-трех минут</p>
          </div>
        </li>

        <li class="how-it-works__item item">
          <div class="item__icon">
            <img src="img/how-it-works/delivery-truck.svg" alt="Изучи весь макет заранее" width="72" height="72">
          </div>
          <div class="item__info">
            <h6 class="item__title">Изучи весь макет заранее</h6>
            <p class="item__description">Подумай как это будет работать на разных разрешениях и при скролле</p>
          </div>
        </li>

        <li class="how-it-works__item item">
          <div class="item__icon">
            <img src="img/how-it-works/secure.svg" alt="Сделай хорошо" width="72" height="72">
          </div>
          <div class="item__info">
            <h6 class="item__title">Сделай хорошо</h6>
            <p class="item__description">Чтобы мы могли тебе доверить подобные задачи в будущем</p>
          </div>
        </li>

        <li class="how-it-works__item item">
          <div class="item__icon">
            <img src="img/how-it-works/money-bags.svg" alt="Получи предложение" width="72" height="72">
          </div>
          <div class="item__info">
            <h6 class="item__title">Получи предложение</h6>
            <p class="item__description">Ну тут все просто, не я придумал правила, но думаю так и будет)))</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>